@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.left-sideContainer,
.right-sideContainer {
    width: 50%;
    height: 100%;
}

.left-sideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-sideContainer {
    height: 100vh;
    /* background-color: green; */
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.bothSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.clientCarousalContainer {
    height: 100%;
}

.mySwiper .HomeCarousalImage {
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.containerss {
    transform-style: preserve-3d;
    perspective: 500px;
}

.Fontset {
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
    transform: rotateX(-0deg) rotateY(-45deg);

    /* transform: rotateY(-45deg) translateZ(0) scale(1); */
    /* transform-style: preserve-3d; */
    color: white;
}

@media (max-width:769px) {
    .mySwiper .HomeCarousalImage {
        width: 100%;
        /* aspect-ratio: 3/2;
        object-fit: contain; */
        background-color: white;
        padding: 4px;
        border-radius: 5px;
    }

    #mySwiper {
        height: 25vh;
    }

    .right-sideContainer {
        height: 28vh;
        /* background-color: green; */
        display: flex;
        align-items: center;
        text-align: center;
        overflow: auto;
    }
}

.right-sideContainer .container {
    width: 83%;
    height: 90vh;
    overflow: auto;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    perspective: 800px;
    padding-top: 100px;
}

.heading {
    font-size: 5rem;
    color: #ffffff;
    transform: rotateX(0deg) rotateY(-25deg) translate(0);
    transition: transform 0.5s ease;
    margin: 0px 0;
    font-weight: 900;
    text-align: end;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    line-height: 80px;
    margin-bottom: 10px;
    /* margin-right: 100px; */
}

.heading:hover {
    font-size: 5rem;
    color: #FFED00;
    transform: rotateX(0deg) rotateY(0deg) translate(0);
    transition: transform 0.5s ease;
    margin: 0px 0;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 10px;
    /* margin-right: 100px; */
}

.custom-scrollbar-container {

    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.custom-scrollbar-container::-webkit-scrollbar {
    width: 0px;
}

.custom-scrollbar-container::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar-container::-webkit-scrollbar-thumb {
    background-color: #FFED00;
    border-radius: 6px;
    border: 1px solid transparent;
}

.custom-scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
