.image-service {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Align items to start from the top */
    padding-top: 50px;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-bottom: 15%;
    width: 100%;
    padding: 0 20x;
}

.image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.words {
    border: 3px solid black;
  border-radius: 0px 0px 30px 30px;
  height: auto; /* Adjust height as needed */
  width: 88%; /* Take full width of the card */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.words h1,
.words h3 {
  margin: 0; /* Remove default margin */
}
.card-subcontainer {
    flex: 1 0 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

.all-container {
    display: flex;
    gap: 20px;
}