h1 {
    color: white;
}

.services-heading {
    text-align: left;
    font-size: 3.5rem;
    font-weight: 500;
}

.ant-card {
    border-radius: 10px;
    border: none;
    /* margin: 10px; */
    background-color: rgb(21, 21, 21);
}

.serviceCard .ant-card-body {
    padding: 10px;
    border: none;

}

.ant-card h4 {
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
}

.ant-card p {
    color: rgb(203, 203, 203);
    text-align: left;
    overflow-wrap: normal;
    font-size: 1rem;
    font-weight: 400;
}

.ant-card .ant-card-body img {
    transform: scale(1);
    transition: .5s;
}

.ant-card:hover .ant-card-body img {
    transform: scale(1.1);
    transition: .5s;
}

.animated-hover-boxes .content-box {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.animated-hover-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.animated-hover-boxes .animated-boxes-one,
.animated-hover-boxes .animated-boxes-two,
.animated-hover-boxes .animated-boxes-three,
.animated-hover-boxes .animated-boxes-four,
.animated-hover-boxes .animated-boxes-five,
.animated-hover-boxes .animated-boxes-six {
    display: flex;
    position: relative;
    height: 50vh;
    /* width: 100%; */
}

.animated-hover-boxes .animated-boxes-one {
    background-color: transparent;
    width: 20%;
    overflow: hidden;
    background-size: cover;
    transition: .5s;
    background-image: url("../Home/Banners/unipole.jpeg");
    background-position: center;
}

.animated-hover-boxes .animated-boxes-two {
    background-color: transparent;
    /* margin: 20px; */
    /* height: 70vh; */
    width: 20%;
    overflow: hidden;
    background-size: cover;
    transition: .5s;
    /* background-position: center; */
    background-image: url("../Home/Banners/hoardings.jpeg");
}

.animated-hover-boxes .animated-boxes-three {
    background-color: transparent;
    width: 20%;
    overflow: hidden;
    background-size: cover;
    transition: .5s;
    /* background-position: center; */
    background-image: url("../Home/Banners/polekiosk.jpeg");
}

.animated-hover-boxes .animated-boxes-four {
    background-color: transparent;
    width: 20%;
    overflow: hidden;
    background-size: cover;
    transition: .5s;
    height: 50vh;
    background-position: center;
    background-image: url("../Home/Banners/LEDFinal.png");
}

.animated-hover-boxes .animated-boxes-five {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    transition: .5s;
    /* background-position: center;
    background-image: url("../Home/Banners/gantryFinal.png"); */
}

.animated-hover-boxes .animated-boxes-six {
    background-color: transparent;
    width: 20%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: .5s;
    background-image: url("../Home/Banners/cantilever.png");
}

.our-products .back-overlay {
    height: 50vh;
    width: 100%;
    background-color: #00000099;
}

.content-box h4 {
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;
}

.content-box button {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #ffed00;
    color: black;
}

.twoslidesContainer {
    display: flex;
    width: 100%;
    height: 50vh;
}

.serviceCard .ant-row .ant-col {
    padding: 10px;

}

.services-card-content {
    padding: 10px;
}


.animated-hover-boxes .animated-boxes-one,
.animated-hover-boxes .animated-boxes-two,
.animated-hover-boxes .animated-boxes-three,
.animated-hover-boxes .animated-boxes-four,
.animated-hover-boxes .animated-boxes-five,
.animated-hover-boxes .animated-boxes-six 
{

    border: 2px solid black;
}

@media (max-width:600px) {
    .content-box button {
        border: none;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #ffed00;
        color: black;
        font-size: 12px;
    }

    .animated-hover-boxes {
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .content-box h4 {
        color: white;
        font-family: "Barlow Condensed", sans-serif;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 18px;
    }

    .twoslidesContainer {
        display: flex;
        width: 100%;
        height: 70vh;
        flex-direction: column;
    }

    .animated-hover-boxes .content-box {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        display: flex;
        /* bottom: 60px; */
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .animated-hover-boxes .animated-boxes-five{
        height: 30vh;
    }
    .animated-hover-boxes .animated-boxes-one,
    .animated-hover-boxes .animated-boxes-two,
    .animated-hover-boxes .animated-boxes-three,

    .animated-hover-boxes .animated-boxes-six {
        display: flex;
        position: relative;
        height: 25vh;
        width: 50%;
    }
    .animated-hover-boxes .animated-boxes-four{
        width: 100%;
        height: 20vh;
    }
    /* .animated-hover-boxes .animated-boxes-one:hover,
    .animated-hover-boxes .animated-boxes-two:hover,
    .animated-hover-boxes .animated-boxes-three:hover,
    .animated-hover-boxes .animated-boxes-four:hover {
        display: flex;
        position: relative;
        height: 33vh;
    } */

}