.ant-card{
    background-color: transparent;
}
h1{
    color: white;
}
.services-heading{
    text-align: left;
    font-size: 3.5rem;
    font-weight: 500;
}
.ant-card{
    border-radius: 0px;
    border: none;
    margin: 10px;
    background-color: rgb(21, 21, 21);
}
.serviceCard .ant-card-body{
    padding: 10px;
    border: none;

}

.serviceCard .ant-card-body img{
    border-radius: 20px;
    transform: scale(1);
    transition: .5s;
}
.ant-card h4{
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
}
.ant-card p{
    color:rgb(203, 203, 203);
    text-align: left;
    overflow-wrap: normal;
    font-size: 1rem;
    font-weight: 400;
}
.ant-card .ant-card-body img{
    transform: scale(1);
    transition: .5s;
}
.ant-card:hover .ant-card-body img{
    transform: scale(1.1);
    transition: .5s;
}