.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.number div{
    margin: 0px 30px;
}
.number div:nth-child(1) span{
    font-size: 50px;
    text-shadow: 2px 2px #00000048;
    margin-bottom: -20px;
}
.number div:nth-child(1){
    /* margin-bottom: -10px; */
    /* margin-right: 20px; */
    display: flex;
    justify-content: center;
}
.number div:nth-child(2){
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.title{
    text-align: center;
}