.overlay-back-img img {
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    /* background-color: gray; */
}

.animated-text-about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-text-about h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.index-module_type__E-SaG::after {
    content: '|';
    color: #FFED00;
}

.animated-text-about P {
    color: white;
    letter-spacing: 5px;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
}

@media (max-width:700px) {
    .animated-text-about P {
        color: white;
        letter-spacing: 0px;
        text-align: center;
    }
}

.animated-scroll-down-btn {
    /* Add your button styles here */
    /* For example */
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #2929294b;
    color: #FFED00;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-50%);
    animation: scrollAnimation 1.5s infinite;

    transition: .5s;
}

.animated-scroll-down-btn:hover {
    /* Add your button styles here */
    /* For example */
    padding: 5px 20px;
    background-color: #FFED00;
    border: 1px solid #ffee0015;
    transition: .5s;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-50%);
    animation: scrollAnimation 1s infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


.parent-Company-info img {
    width: 100%;
    /* padding: 4rem; */
    /* aspect-ratio: 3/2;
    object-fit: contain; */
    border-radius: 20px;
    display: flex;
    margin: auto;
}

.parent-comapny-content h4 {
    font-size: 40px;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
}

.parent-comapny-content h4 span {
    font-size: 40px;
    color: #FFED00;
    font-family: "Barlow Condensed", sans-serif;
}

.parent-comapny-content p {
    font-size: 30px;
    font-weight: 300;
    color: rgb(198, 198, 198);
    font-family: "Barlow Condensed", sans-serif;
}

.yellow-color-back {
    background-color: #FFED00;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.yellow-poster-insideone {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yellow-poster-insideone h4 {
    font-family: "Barlow Condensed", sans-serif;
}

.yellow-poster-insideone h4 span {
    font-family: "Barlow Condensed", sans-serif;
}

.yellow-poster-insidetwo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-poster-insidetwo img {
    width: 70%;
}

.yellow-poster-insideone img {
    width: 300px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.yellow-poster-insideLogo {
    display: flex;
}

.yellow-poster-insideLogo div:nth-child(1) {
    border-right: 2px solid black;
}

.parent-Company-info .ant-row .ant-col {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}


/* .first {
    padding-left: 2rem;
}

.second {
    padding-right: 2rem;
} */

.founder-img-container {
    /* height: 50vh; */
    width: 100%;
    overflow: hidden;
}

.founder-img-container img {
    width: 100%;
    border-radius: 20px;
}

.founder-container {
    padding: 50px;
}

.founder-info h4 {
    color: white;
    /* margin: 0px 10px; */
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
}

.founder-info h4 span {
    color: #FFED00;
}
.co-founder-section p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 0px;
}

/* .founder-info {
    display: flex;
    align-items: center;
} */

.founder-info i {
    font-size: 30px;
    color: white;
}

.founder-info .socials {
    display: flex;
    align-items: center;
}

.founder-info .socials i {
    font-size: 20px;
    /* width: 300px; */
    color: hsl(0, 0%, 100%);
    margin: 0px 10px;
    cursor: pointer;
}
.founder-info:hover .socials i {
    font-size: 20px;
    /* width: 300px; */
    color: #FFED00;
    margin: 0px 10px;
    cursor: pointer;
}

/* .section-heading{
    animation: fadeDown 2s ease forwards;
    font-size: 50px;
    font-family: Barlow Condensed, sans-serif;
    font-weight: 300;
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px); 
    }
} */

.header-part{
    display: flex;
    justify-content: space-between;
}
.founder-info {
    padding: 20px 20px;
    margin-bottom: 10px;
    background-color: rgb(36, 36, 36);
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    /* justify-content: space-between; */
   flex-direction: column;

}

@media (max-width:900px) {
    .founder-info {
        padding: 20px 20px;
        margin-bottom: 10px;
        background-color: rgb(36, 36, 36);
        margin-right: 0px;
        border-radius: 10px;
        display: flex;
        /* justify-content: space-between; */
       flex-direction: column;
    
    }
    /* .parent-Company-info .ant-row .ant-col {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        padding: 10px;
    } */
    /* .co-founder-section .ant-row {
        margin-top: 45px;
    } */

    .co-founder-section .ant-row .ant-col {
        padding: 0px 0px;
        width: 100%;
    }

    .section-heading {
        font-size: 40px;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
    }

    .parent-comapny-content p {
        font-size: 20px;
        font-weight: 300;
        color: rgb(198, 198, 198);
        font-family: "Barlow Condensed", sans-serif;
    }

    .founder-container {
        padding: 0px;
    }

    .parent-Company-info .ant-row .ant-col {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .yellow-color-back {
        background-color: #FFED00;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* padding: 40px 0px; */
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
        /* justify-content: center; */
    }

    .yellow-poster-insideLogo div:nth-child(1) {
        border-bottom: 2px solid black;
        border-right: none;
        padding-bottom: 10px;
        margin-bottom: 10px;

    }

    .yellow-poster-insideLogo {
        display: flex;
        flex-direction: column;
    }
}