@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.overlay-back-img img {
    width: 100%;
    height: 100vh;
    opacity: 0.2;
    /* background-color: gray; */
}


.parent-Company-info img {
    width: 100%;
    /* padding: 2rem; */
    /* aspect-ratio: 3/2;
    object-fit: contain; */
    border-radius: 20px;
    display: flex;
    /* margin: auto; */
}

.HET_IMG,
.KhushiImg,
.yellowSpotImg {
    padding: 2rem;
}

.parent-comapny-content h4 {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.parent-comapny-content h4 span {
    font-size: 40px;
    color: #FFED00;
    font-family: 'Times New Roman', Times, serif;
}

.parent-comapny-content p {
    font-size: 20px;
    font-weight: 300;
    color: rgb(198, 198, 198);
    font-family: 'Times New Roman', Times, serif;
}

.yellow-color-back {
    background-color: #FFED00;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.yellow-poster-insideone {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.yellow-poster-insidetwo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow-poster-insidetwo img {
    width: 70%;
}

.yellow-poster-insideone img {
    width: 200px;
    padding: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.yellow-poster-insideLogo {
    display: flex;
}

.yellow-poster-insideLogo div:nth-child(1) {
    border-right: 2px solid black;
}

.parent-Company-info .ant-row .ant-col {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}


/* .first {
    padding-left: 2rem;
}

.second {
    padding-right: 2rem;
} */

.founder-img-container {
    /* height: 50vh; */
    width: 100%;
    overflow: hidden;
}

.founder-img-container img {
    width: 100%;
    border-radius: 20px;
}

.founder-container {
    padding: 50px;
}

.founder-info h4 {
    color: white;
    /* margin: 0px 10px; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.founder-info h4 span {
    color: #FFED00;
}

.co-founder-section p {
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 19px;
    color: rgb(198, 198, 198);
    font-family: 'Times New Roman', Times, serif;

}

.founder-info i {
    font-size: 30px;
    color: white;
}

.founder-info .socials {
    display: flex;
    align-items: center;
}

.founder-info .socials i {
    font-size: 20px;
    /* width: 300px; */
    color: hsl(0, 0%, 100%);
    margin: 0px 10px;
    cursor: pointer;
}

.founder-info:hover .socials i {
    font-size: 20px;
    /* width: 300px; */
    color: #FFED00;
    margin: 0px 10px;
    cursor: pointer;
}


.header-part {
    display: flex;
    justify-content: space-between;
}

.founder-info {
    padding: 20px 20px;
    margin-bottom: 10px;
    background-color: rgb(20 20 20);
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.KhushiImg,
.HET_IMG {
    padding: 20px;
}

/* .imageGallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.imageGallery .img-container{
    width: 33%;
}

.imageGallery img{
   width: 300px;
   height: 300px;
} */
@media (max-width:900px) {
    .co-founder-section p {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: 0px;
        color: rgb(198, 198, 198);
        

    }

    #KhushiImg {
        padding: 3rem 0rem;
    }

    .HET_IMG,
    .KhushiImg,
    .yellowSpotImg {
        padding: 0rem;
    }

    .parent-comapny-content h4 {
        font-size: 40px;
        color: white;
        
        margin: 30px 0px;
    }


    .parent-Company-info img {
        width: 70%;
        margin: auto;
        /* padding: 1rem; */
        /* aspect-ratio: 3/2;
    object-fit: contain; */
        border-radius: 20px;
        display: flex;
    }

    .founder-info {
        padding: 20px 20px;
        margin-bottom: 10px;
        background-color: rgb(36, 36, 36);
        margin-right: 0px;
        border-radius: 10px;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;

    }

    .co-founder-section .ant-row .ant-col {
        padding: 0px 0px;
        width: 100%;
    }

    .section-heading {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
    }

    .parent-comapny-content p {
        font-size: 20px;
        font-weight: 300;
        color: rgb(198, 198, 198);
        font-family: 'Times New Roman', Times, serif;
    }

    .founder-container {
        padding: 0px;
    }

    .parent-Company-info .ant-row .ant-col {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .yellow-color-back {
        background-color: #FFED00;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        /* padding: 40px 0px; */
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 0px;
        /* justify-content: center; */
    }

    .yellow-poster-insideLogo div:nth-child(1) {
        border-bottom: 2px solid black;
        border-right: none;
        padding-bottom: 10px;
        margin-bottom: 10px;

    }

    .yellow-poster-insideLogo {
        display: flex;
        flex-direction: column;
    }
}