@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;

}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 21px 64px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}

.btn:hover {
    border: 2px solid orange;
    color: orange;
    background-color: rgba(255, 255, 255, 0.178);
}

.content-text {
    display: flex;
    flex-direction: column;
}

.content-text-two {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 30px;
    font-size: 25px;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.415);
}

.name1 {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

}

.name2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.founders{
    width: 70%;
}
