.full-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.btn {
    padding: 21px 64px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
}

.btn:hover {
    border: 2px solid orange;
    color: orange;
    background-color: white;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sub-content {
    text-align: center;
}

.line {
    height: 230px;
    border-left: 2px solid rgb(255, 166, 0);
    margin: 0 50px;
}

.box-content {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.content-text-two {
    margin-top: 40px;

}

.content-text-three {
    background-image: url("https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-three {
    background-color: rgba(0, 0, 0, 0.397);
    width: 60vh;
    height: 100%;
    margin-right: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media (max-width: 1630px) {
    .content-three {
        margin-right: 74%;
        width: 70vh;
    }
}

@media (max-width:964px) {
    .content-three {
        width: 60vh;
        margin-right: 64%;
    }
}

@media (max-width:1059px) {
    .content-three {
        width: 104vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .content-three {
        width: 60vh;
        margin-right: 54%;
    }
}

@media (max-width: 526px) {
    .sub-content {
        font-size: 10px;
    }

    .btn {
        padding: 14px 34px;
    }
}

@media (max-width: 874px) {
    .box-content {
        font-size: 9px;
        width: 550px;
    }

    .line {
        height: 142px;
    }
}

@media (max-width: 581px) {
    .box-content {
        font-size: 6px;
        width: 430px;
    }

    .line {
        height: 120px;
    }

}

@media (max-width: 450px) {
    .box-content {
        display: flex;
        flex-direction: column;

    }

    .line {
        width: 50%;
        height: 2px;
        margin: 20px;
        background-color: rgb(255, 166, 0);
    }
}


@media (max-width: 637px) {
    .content-three {
        width: 160vh;
        margin-right: 4%;
    }
}