.App {
    position: relative;
    height: 100%;
}

.card {
    position: sticky;
    top: 50px;
    width: 100%;
    /* max-width: 500px; */
    margin: 30px auto;
    padding: 20px;
    font-size: 24px;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    /* height: 30vh; */
}

.spacer {
    margin-top: -10px;
}

.class-inside-content {
    display: flex;
    width: 100%;
}

.services-image-container {
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.animated-card-content-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0px 10px;
}

.animated-card-content-info h4 {
    /* font-size: 20px;
        font-weight: 300; */
    /* color: rgb(198, 198, 198); */
    font-family: "Barlow Condensed", sans-serif;
}

.animated-card-content-info h4 span {
    color: #FFED00;
}

.animated-card-content-info p {
    font-size: 20px;
    font-weight: 300;
    color: rgb(198, 198, 198);
    font-family: "Barlow Condensed", sans-serif;
}

.services-image-container img {
    border-radius: 10px;
    transition: .5s;
}

.cards-container .card:hover .services-image-container img {
    transform: scale(1.1);
    border-radius: 10px;
    transition: .5s;
}

@media (max-width:769px) {
    .class-inside-content {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .services-image-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .animated-card-content-info {
        padding: 20px 0px;
    }

    .animated-card-content-info p {
        font-size: 20px;
        font-weight: 300;
        color: rgb(198, 198, 198);
        font-family: "Barlow Condensed", sans-serif;
    }

    .card {
        position: sticky;
        top: 50px;
        width: 100%;
        /* max-width: 500px; */
        margin: 30px auto;
        padding: 10px;
        font-size: 24px;
        color: white;
        font-family: Arial, sans-serif;
        border-radius: 10px;
        /* height: 30vh; */
    }
}