@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#header {
  position: absolute;
  z-index: 666;
  width: 100%;
  padding: 18px 0px;
  background: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */

}

.main-nav-container {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(0, 0, 0); */
  align-items: center;
  color: white;
  height: 55px;
}

.main-nav-container .left-side-links,
.main-nav-container .right-side-links {
  /* background-color: rgb(0, 0, 0); */
  /* border-radius: 2px; */
  padding: 2px;

}

.left-side-links .left-side-ul,
.right-side-links .right-side-ul {
  padding: 0px;
  list-style: none;
}

.left-side-ul,
.right-side-ul {
  display: flex;
  align-items: center;
}



.line {
  width: 60px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line div {
  width: 40px;
  background-color: #FFED00;
  height: 3px;
}

.left-side span a,
.right-side span a {
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-size: 23px;

}

.yellow-spot-logo h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3rem;
}