.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.logo a {
  margin-left: 400%;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}


.menu {
  border-radius: 10%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #222;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.fade-in-image {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in-image.active {
  opacity: 1;
}

.menu.active {
  transform: translateX(0);
  opacity: 1;
}

.menu-toggle {
  display: flex;
  margin-right: 19%;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

.menubar-section .menu ul {
  list-style: none;
  padding: 20px;
}

.menubar-section .menu ul li {
  margin-bottom: 15px;
}

.menubar-section .menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.menubar-section .menu ul li:hover {
  box-shadow: 0 2px 4px rgba(5, 5, 5, 0.1);
  border-radius: 5%;
}

.menubar-section .menu ul li a.active {
  font-weight: bold;
  color: orange;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

ul {
  list-style: none;
  padding: 20px;
}

ul li {
  margin-bottom: 15px;
}


@media (max-width: 768px) {
 
  .logo {
    flex: 1; 
  }
.logo a{
  margin-left: 2px;
}
  .menu {
    width: 80%; 
  }

  .menu-toggle {
    margin-right: 10px; 
  }

  .menubar-section {
    position: relative;
  }

 

  .menu.active {
    transform: translateX(0);
    opacity: 1;
  }

  .menubar-section .menu ul li a {
    color: black; 
  }
}
