#contactUssection .tagline{
  font-size: 20px;
  color: white;
  margin-top: 30px;
  font-family: "Barlow Condensed", sans-serif;
}
.twoColumsContainer{
  display: flex;
}
.twoColumsContainer .rightSideColumn,
.twoColumsContainer .leftSideColumn{
  width: 50%;
  display: flex;
  align-items: center;
}
.twoColumsContainer .leftSideColumn{
  padding-right: 20px;
}
.twoColumsContainer .rightSideColumn img{
  width: 100%;
}
.ContactContent ul {
  list-style: none;
  color: white;
  padding: 0px;
}
.ContactContent ul li,
.ContactContent ul li a{
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.ContactContent ul li span{
  font-weight: 600;
  color: #FFED00;
}
@media (max-width:600px){
  .twoColumsContainer{
    display: flex;
    flex-direction: column;
  }
  .contactUsSection{
    padding-top: 6rem;
  }
  .twoColumsContainer .rightSideColumn,
  .twoColumsContainer .leftSideColumn{
    width: 100%;
    display: flex;
    align-items: center;
  }
}