.animated-text-about {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
    /* padding-bottom: 2rem; */
}

.animated-text-about h1 {

    font-weight: 400;
}

.index-module_type__E-SaG::after {
    content: '|';
    color: #FFED00;
}

.animated-text-about P {
    color: white;
    letter-spacing: 5px;
    text-align: center;
}

.textbackAnimation {
    position: absolute;
    width: 100%;
    opacity: 0.6;
}

#MobileFreidly {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 5555555;
}

.textbackAnimation img {
    height: 100vh;
    width: 100%;
}

@media (max-width:700px) {
    .textbackAnimation {
        position: static;
        opacity: 1;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .textbackAnimation img {
        height: 100%;
        width: 150%;
    }

    #MobileFreidly {
        display: none;
    }

    .animated-text-about {
        margin-top: 15vh;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /* padding-bottom: 2rem; */
    }

    .animated-text-about P {
        color: white;
        letter-spacing: 0px;
        text-align: center;
    }
}

.animated-scroll-down-btn {
    /* Add your button styles here */
    /* For example */
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #2929294b;
    color: #FFED00;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-50%);
    animation: scrollAnimation 1.5s infinite;

    transition: .5s;
}

.animated-scroll-down-btn:hover {
    /* Add your button styles here */
    /* For example */
    padding: 5px 20px;
    background-color: #FFED00;
    border: 1px solid #ffee0015;
    transition: .5s;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: translateX(-50%);
    animation: scrollAnimation 1s infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}