/* first one font family */
/* font-family: "Barlow Condensed", sans-serif; */

#home-page-header {
    display: none;
}

#header {
    display: block;
}

#HomePage #home-page-header {
    display: block;
    display: flex;
    justify-content: space-between;
}

.section_padding {
    padding: 2rem 0rem;
}

li {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

p {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

span {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

select {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

option {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}

@media (max-width:800px) {
    #header {
        display: none;
    }

    #HomePage #home-page-header {
        display: block;
        display: flex;
        justify-content: space-between;
    }

    #home-page-header {
        display: block;
        display: flex;
        justify-content: space-between;
    }
}