/* first one font family */
/* font-family: "Barlow Condensed", sans-serif; */

#home-page-header {
    display: none;
}

#header {
    display: block;
}

#HomePage #home-page-header {
    display: block;
    display: flex;
    justify-content: space-between;
}

.section_padding {
    padding: 2rem 0rem;
}

li {
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

span {
    font-family: 'Times New Roman', Times, serif;
}
button{
    font-family: 'Times New Roman', Times, serif;
}
select{
    font-family: 'Times New Roman', Times, serif;
}
option{
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:800px) {
    #header {
        display: none;
    }

    #HomePage #home-page-header {
        display: block;
        display: flex;
        justify-content: space-between;
    }

    #home-page-header {
        display: block;
        display: flex;
        justify-content: space-between;
    }
}